@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface text-ink;
  }
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}
